@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html,
body,
#root,
#main {
  @apply w-full h-full m-0 p-0 overflow-hidden select-none;
}

body {
  @apply bg-gray-200 font-sans;
}

canvas {
  @apply opacity-100 select-none;
  touch-action: none;
  animation: fade-in 1s ease 0.3s forwards;
}

.decal-boundary {
  @apply absolute border-white border-dashed border-2 pointer-events-none translate-x-[-50%] translate-y-[-50%] z-10;
}

.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-screen h-screen xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 gap-7 absolute z-10 pointer-events-auto;
}

.home-content {
  @apply flex-1 xl:justify-start justify-center flex flex-col gap-11;
}

.head-text {
  @apply xl:text-[10rem] text-[6rem] xl:leading-[11rem] leading-[7rem] font-black text-black;
}

.editortabs-container {
  @apply glassmorphism w-16 border-2 rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 max-w-full flex justify-center items-center flex-wrap gap-4;
}

.tabs {
  @apply flex flex-1;
}

.aipicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
}

.colorpicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-auto h-auto rounded-md flex flex-col gap-4;
}

.decalcontrol-container {
  @apply absolute left-full -ml-28 scale-[0.5] glassmorphism -mt-44 p-3 w-[230px] h-[170px] rounded-md flex flex-col gap-4;
}

.aipicker-textarea {
  @apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
}

.filepicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
}

.filepicker-label {
  @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.glassmorphism {
  @apply bg-white bg-opacity-25 box-border shadow-2xl backdrop-blur-sm border border-white;
}

input[type='file'] {
  @apply z-[-1] absolute opacity-0;
}

.logo-control {
  @apply fixed bottom-0 w-full bg-white p-2 shadow-md;
}

.color-options {
  @apply flex-wrap gap-2 mb-5;
}

.circle {
  @apply w-7 h-7 rounded-full border-2 border-white transition-transform duration-150 ease-in-out hover:scale-125 cursor-pointer;
}

form {
  @apply w-[30vw] min-w-[500px] self-center shadow-sm rounded-lg p-10;
}

#payment-message {
  @apply text-gray-500 text-lg leading-5 pt-3 text-center;
}

#payment-element {
  @apply mb-6;
}

/* Buttons and links */
button {
  @apply bg-blue-600 font-sans text-white rounded-sm border-0 py-3 px-4 text-lg font-semibold cursor-pointer block transition-all duration-200 shadow-lg w-full;
}

button:disabled {
  @apply opacity-50 cursor-default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  @apply rounded-full;
}

.spinner {
  @apply text-white text-6xl m-auto relative w-5 h-5 box-border transform z-0;
}

.spinner:before,
.spinner:after {
  @apply absolute;
}

.spinner:before {
  @apply w-2.5 h-5 bg-blue-600 rounded-l-full top-0 left-0 transform origin-right;
}

.spinner:after {
  @apply w-2.5 h-2.5 bg-blue-600 rounded-r-full top-0 left-2.5 transform origin-left;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    @apply w-[80vw] min-w-0;
  }
}

.sketch-picker {
  width: 170px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 6px !important;
}

.sketch-picker > div:nth-child(3) {
  display: none !important;
}
